<div class="container-fluid">
    <div class="row input-group">
      <span class="input-group-btn">
        <button type="button" class="btn btn-secondary" onClick="gitBack()">Back</button>
      </span>
      <div id="gitCommand" class="form-control"></div>
      <span class="input-group-btn">
        <button type="button" class="btn btn-primary" onClick="gitNext()">Next</button>
      </span>
    </div>
    <div class="row" style="margin-top: 1em"><canvas id="gitGraph"></canvas></div>
</div>
